{% extends 'base.html' %} 
{% block content %}
<div class="home__stores">
    {% for store in stores %}

        <div class="store mb-5">
            <h3 class="title is-3 has-text-success">{{store.title}}</h3>
            <hr />

            {% for module in store.modules.all %}

                <div class="module">
                    <span>{{forloop.counter}}</span>
                    <span><b>{{module.title}}</b></span>
                    <span>{{module.function}}</span>
                    <span>
                        <!--   Here we are creating an anchor
                        tag that when clicked will hit our new
                        route and send a query to remove the module     -->
                        <a href="{% url 'store_module_assoc' store.pk module.pk %}?assoc=remove" class="button is-danger is-outlined">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                        </a>
                    </span>
                </div>

            {% endfor %}
        </div>
    {% empty %} 
        <div class="store mb-5">"There are no modules in this store"</div>
    {% endfor %}
</div>
{% endblock %}